.s-peekyField {
  position: relative;
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-color: red;
    &:focus {
      border-color: blue;
    }
    &::-ms-expand {
      display: none;
    }
    + label {
      pointer-events: none;
    }
  }
  label {
    .position(@t:50%,@l:0%);
    .transform(translate(0, -50%));
    .transition(.2s);
    .text-size--l;
    font-weight: 300;
    line-height: 1;
  }
  a, [class*='icon'] {
    .position(@t:50%, @r:0);
    .text-size--l;
    .transform(translate(0, -50%));
    text-align: right;
  }
  [class*='icon'] {
    pointer-events: none;
  }
  input, select {
    .text-size--l;
    .transition(.3s);
    background: none !important;
    border-radius: 0 !important;
    border-width: 0 0 1px 0 !important;
    margin-top: 0.7em;
    padding: 0.55em 0 !important;
    width: 100%;
    &:focus, &.occupied {
      + label {
        .transform(translate(0, 0%));
        .text-size--default;
        top: 0%;
      }
    }
  }
}
