// ==========================================================
// Includes
// ==========================================================


@import 'less/stoked.less';
@import 'less/addons/header.less';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&amp;subset=cyrillic');



// ==========================================================
// Typography
// ==========================================================


@bodyFamily:           "Open Sans", "Helvetica Neue", "Helvetica", sans-serif;
@bodySize:             0.8125rem;
@bodyBaseline:         1.414;

@headingCase:          none;
@headingFamily:        "Open Sans", "Helvetica Neue", "Helvetica", sans-serif;
@headingWeight:        400;
@headingBaseline:      1.2;

@fontScatter:          0.5;



// ==========================================================
// Swatches & Effects
// ==========================================================


// Swatches

.createSwatch(
    @name:             default,
);
.createSwatch(
    @name:             blue,
    @fill:             blue,
);


// Effects

.createEffect(
    @name:             info,
    @color:            blue
);
.createEffect(
    @name:             success,
    @color:            green
);



// ==========================================================
// Styles & Colors
// ==========================================================

@swatchPrimary:        blue;
@swatchWhite:          #ffffff;

@gridColumns:          16;
@bodyBackground:       rgba(255,255,255,1);
@cornerRadius:         4px;
@textSelect:           @swatchPrimary;
@dialogOverlay:        rgba(0,0,0,0.1);
@tooltipColor:         rgba(0,0,0,0.75);
@popoverArrow:         12px;
@buttonPadding:        0.65em;
@buttonPaddingRatio:   2;
@spaceRatio:           1.5;
@blockWidthMax:        10;
@circleIconSize:       2em;
@headerHeight:         50px;
@headerTopMargin:      25px;

@inputColor:           rgba(255,255,255,1);
@inputText:            rgba(0,0,0,1);
@inputFocus:           @swatchPrimary;
@inputFocusGlow:       3px;
@inputFocusStroke:     0px;
@inputPadding:         0.65em;
@inputPaddingRatio:    3;
@inputPlaceholder:     rgba(0,0,0,0.5);
@inputInnerShadow:     0 3px 0 rgba(0,0,0,0.05) inset;

@shadowSmall:          0 1px 2px rgba(0,0,0,0.1);
@shadowMedium:         0 10px 30px rgba(0,0,0,0.1);
@shadowLarge:          0 20px 70px rgba(0,0,0,0.1);



// ==========================================================
// Media Queries
// ==========================================================


.createMediaQuery(
  @responsive:          true,
  @responsiveHeader:    true,
  @wrapperMinWidth:     0%,
  @wrapperMaxWidth:     100%,
  @wrapperMargin:       @space-l,
  @viewportMinWidth:    0px,
  @viewportMaxWidth:    960px,
  @customStyles:        {
  }
);
.createMediaQuery(
  @wrapperMinWidth:     960px,
  @wrapperMaxWidth:     960px,
  @wrapperMargin:       @space-l,
  @viewportMinWidth:    961px
);



// ==========================================================
// Custom
// ==========================================================


// Your custom code here
.icon-burger, .icon-close {
  background: red;
  height: 16px;
  width: 16px;
}
.icon-close {
  background: green;
}
