doctype html
html
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //- meta(property='og:url', content='http://www.surfaccounts.com')
    //- meta(property='og:type', content='Surfaccounts: Payroll')
    //- meta(property='og:title', content='Your Website Title')
    //- meta(property='og:description', content='Your description')
    //- meta(property='og:image', content='http://www.your-domain.com/path/image.jpg')
    title Surfaccounts: Payroll
    link(rel='stylesheet', href='css/surfaccounts.css')
  body
    .s-layout.s-flex-direction--column
      header
        | Header
      main.s-expand
        .s-wrapper
          | Test
    include includes/scripts
